.activity{
  border-bottom: 1px solid var(--blue-grey-800);
  margin: 6px;
  .activity-content{
    display: flex;
    padding-left: 10px;
  }
  .name,.weather{
    flex: 50%;
  }
  .name{
    font-weight: bold;
  }
  .weather{
    color: #9fb3c8;
    text-align: right;
    font-size: 13px;
  }
}
