
.card {
  margin: 8px;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  background-color: #fafafa;
  height: 104px;
  .card__color {
    position: absolute;
    height: 100%;
    border-radius: 1px 0 0 1px;
    left: 0;
    top: 0;
    width: 30px;
    max-height: 136px;
  }
  .card__content {
    position: absolute;
    margin: 0;
    padding: 0 16px;
    left: 30px;
  }
  .card__title {}
  .card__info {font-size: 14px; }
  .card__action-bar{
    position: absolute;
    right: 0;
    border-left: 1px solid #E0E0E0;
    height: 100%;
  }
  .card__button {
    cursor: pointer;
    outline: none;
    line-height: 52px;
    padding: 0 16px;
    color: #FF1744;
  }
  .edit{
    color: var(--blue-grey-900);
  }
}
