.modal{
  position: fixed;
  top: 25%;
  left: 30%;
  width: 500px;
  background-color: var(--teal-100);
  .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1px;
    height: 20%;
    background-color: #fff;
    p {
      color: var(--blue-grey-700);
      margin: 10px;
      font-weight: bold;
      align-content: center;
    }
  }
  #close{
    margin-right: 8px;
    width: 24px;
    height: 24px;
    fill: var(--blue-grey-500);
    cursor: pointer;
  }
  .body {
    padding: 20px 25px;
    label {
      font-size: 14px;
    }
    input, .select {
      width: 430px;
    }
    .color{
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      #color{
        width: 30px;
        height: 10px;
        margin: 10px;
        padding: 10px;
        border: 1px solid #ddd;
      }
      .picker{
        position: absolute;
        z-index: 2;
      }
    }
    input{
      padding: 12px 20px;
      margin: 8px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    button{
      display: inline-block;
      padding: 5px 20px;
      border-radius: 50px;
      background: var(--blue-grey-700);
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 12px;
      cursor: pointer;
      &:hover {
        background: var(--blue-grey-300);
        color: black;
      }
      &:disabled,
      button[disabled]{
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
        cursor: not-allowed;
      }
    }
    button.remove{
      border: 0;
      background: transparent;
      color: black;
      text-decoration: underline;
    }
    &.by__day{
      height: 210px;
      overflow-y: auto;
    }
  }
}
