.month{
  padding: 50px 0;
  color: var(--blue-grey-700);
  text-align: center;
  font-weight: 500;
  time{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 38px;
    cursor: pointer;
  }
  em{
    display: block;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
  }
}
