:root {
  --teal-050: #effcf6;
  --teal-100: #c6f7e2;
  --teal-200: #8eedc7;
  --teal-300: #65d6ad;
  --teal-400: #3ebd93;
  --teal-500: #27ab83;
  --teal-600: #199473;
  --teal-700: #147d64;
  --teal-800: #0c6b58;
  --teal-900: #014d40;

  --blue-grey-050: #f0f4f8;
  --blue-grey-100: #d9e2ec;
  --blue-grey-200: #bcccdc;
  --blue-grey-300: #9fb3c8;
  --blue-grey-400: #829ab1;
  --blue-grey-500: #627d98;
  --blue-grey-600: #486581;
  --blue-grey-700: #334e68;
  --blue-grey-800: #243b53;
  --blue-grey-900: #102a43;
}

body{
  min-height: 100vh;
  background: var(--blue-grey-050);
  font-family: 'Roboto Condensed', sans-serif;
}

@import "~react-datepicker/dist/react-datepicker.css";

@import "month";
@import "week";
@import "days";
@import "modal";
@import "activity";
@import "card";

.week,.days{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.content{
  padding: 15px;
  font-family: 'Helvetica', serif;
}

.float-btn{
  position: fixed;
  z-index: 1000;
  right: 20px;
  bottom: 50px;
  .action-btn{
    position: fixed;
    cursor: pointer;
    outline: none;
    right: 20px;
    bottom: 20px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: var(--teal-500);
    border: none;
    &:after{
      content: "+";
      color: white;
      font-size: 40px;
    }
  }
}
